@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-header .top-line .wrapper-logo .logo
		font-size: 1.4em
	.main-header .contact-info a.map, .main-header .contact-info .phone
		margin-bottom: 0
	.main-header .contact-info .social
		margin-top: 11px
	.main-header .main-mnu ul
		text-align: center
		li
			line-height: 60px
			font-size: 14px
			padding-right: 7px
			&:last-child
				margin-right: 0
			a
				position: relative
				&::after
					position: absolute
					bottom: 0
					top: auto
	.main-footer .footer-mnu
		padding-top: 15px
		ul li
			margin-right: 1px
			width: 97%
			&:nth-child(6)
				max-width: 214px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.main-header .top-line
		height: 122px
		background-color: $accent-two
		background: $accent-two url(../img/logo-bg.png) -100px center no-repeat;
		margin-bottom: 0
		.wrapper-logo
			height: auto
			padding: 0
			border-radius: 0
			background: none
			margin-top: 17px
			position: absolute
			left: 50%
			margin-left: -57px
			&::after
				display: none
			.logo
				font-size: 0
				margin: 0
				padding: 0
				background: url(../img/logo-white.png) center center no-repeat;
				background-size: 100%
				width: 114px
				height: 79px
	.slider
		padding-top: 44px
	.main-footer
		background-size: cover
		.footer-mnu
			padding-top: 27px
			ul li
				display: block
				float: none
				width: 100%
				max-width: 100% !important
				&:last-child a
						border-bottom: 1px solid
				a
					font-size: 1.500em
					width: 100%
					border-top: 1px solid
					height: auto
					text-transform: uppercase
					padding: 12px 0 14px
					position: relative
					&::after
						content: '\f105'
						font-family: FontAwesome
						display: block
						position: absolute
						right: 5px
						top: 50%
						margin-top: -12px
						line-height: 1
					&.active
						border-bottom: 1px solid
						&::after
							content: '\f107'
				ul.sub-menu 
					background-color: #5e5f5e
					background-color: rgba(255,255,255,0.10)
					padding: 14px 0 21px 35px
					display: none
					li a
						text-transform: none
						border: none
						font-size: 1.5em
						padding: 0
						&::after
							display: none
		.contact-info
			position: relative
	.section-breadcrumbs
		background: none
		.breadcrumbs
			color: #282828
			min-height: 1px
			padding: 32px 0
			span
				padding: 0
				a
					color: #757575
			span.last-item
				background: none
				text-decoration: none
				&::before
					display: none
	.photo-news-poster
		position: relative
		top: -80px
		margin-bottom: -80px
	.entry-header
		margin-top: 18px
	.content-block-post h2
		margin-top: 31px
	.content-block-post p.date
		margin-top: 20px
		margin-bottom: -25px
	.section-breadcrumbs .breadcrumbs > span.separator
		margin: 0
	.section-breadcrumbs .breadcrumbs > span.last-item
		padding: 0
	.visitors-block .items, .visitors-block h2, .visitors-block .description
		padding-left: 20px
		padding-right: 20px
	.visitors-block a.term-img img
		max-width: 100%
	.entry-content p, .entry-content h2
		text-indent: 0
		text-align: left
	// //BVI PANEL
	.main-header .top-line .header-btn
		margin: 0
		a.bvi-panel-close
			position: fixed
			left: 0
			top: 50%
			z-index: 9999
			padding: 10px
			border: 2px solid #d8d8d8
		a.bvi-panel-open
			font-size: 0.875em
			position: fixed
			z-index: 9000
			left: -174px
			bottom: 50%
			width: 230px
			background-color: #01796e
			color: #fff
			text-align: center
			font-weight: bold
			text-transform: uppercase
			line-height: 1.4
			letter-spacing: 2px
			padding: 10px 60px 10px 0
			border: 1px solid #00a76b
			border-radius: 0
			border-top-right-radius: 4px
			border-bottom-right-radius: 4px
			transition: $trans
			&:hover
				left: 0
				padding-right: 0
				width: 200px
				& .fa
					display: none
			.fa
				display: block
			.fa.fa-eye
				position: absolute
				right: 5px
				font-size: 3em
				line-height: 59.8px
				vertical-align: middle
				top: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.main-header .top-line
		height: 75px
		.wrapper-logo
			margin-top: 8px
			margin-left: -39px
			.logo
				width: 78px
				height: 54px
		.mobile-contact
			padding-top: 19px
			padding-right: 7px
			a
				margin-right: 20px
			.i-wh-map
				width: 35px
				height: 34px
				background-position: -43px -63px
			.i-wh-phone
				width: 32px
				height: 30px
				background-position: -81px -63px
	.hamburger
		margin-top: 23px
		padding-left: 20px
	.hamburger-box
		width: 40px
		height: 26px
	.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
		width: 40px
	.hamburger--spring .hamburger-inner::before
		top: 10px
	.hamburger--spring .hamburger-inner::after
		top: 20px
	.slider
		padding-top: 19px
	section.map
		height: auto
		.location
			position: relative
			top: 0
			left: 0
			margin: 22px auto
	.main-footer
		padding-bottom: 10px
		.logo
			padding-left: 85px
			background-position: 0 0
			span
				font-size: 1em
		& .social
			width: 100%
		& .contact-info
			width: 100%
			margin-bottom: 30px
			.flex-contact-info
				flex-direction: column
				.phones
					margin-left: 0
					text-align: center
					width: 100%
					a
						display: block
						float: left
						width: 33.33%
				.address
					order: 2
					margin-top: 13px
					br
						display: none
		& .social
			text-align: center
			div
				float: none
				margin-top: 10px
				margin-left: 0
		& a.dev
			margin-top: 15px
			display: block
			text-align: center
	.photo-news-poster
		top: 0
		margin-bottom: 0
		ul
			float: none
			width: 266px
			margin: 0 auto
	.section-breadcrumbs .breadcrumbs
		padding: 16px 0 23px
	.big-btn
		margin: 0 10px 33px
	.big-btn:last-child
		margin-bottom: 0
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.hamburger
		padding-left: 0
	.main-header .top-line .mobile-contact a
		margin-right: 5px
	.main-content .green-block a img
		width: 90px
		margin-right: 4px
	.main-content .green-block a .description
		max-width: 200px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

