@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*::selection
	background: $accent-two
	color: #fff

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	color: #282828
	background-color: #f1f7ee


/* links */
a:link, a:visited
	color: #282828
	outline: none
	text-decoration: none
a:hover
	color: #282828

.img-responsive
	display: block
	max-width: 100%
	height: auto

// PRELOADER
.preloader
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: #f1f7ee
	z-index: 99999
	text-align: center
	padding-top: 45vh
	& > div
		background-color: $accent
		height: 15px
		width: 15px
		border-radius: 50%
		display: inline-block
		animation: stretchdelay 0.7s infinite ease-in-out
	.circ2
		animation-delay: -0.6s
	.circ3
		animation-delay: -0.5s
	.circ4
		animation-delay: -0.4s
	.circ5
		animation-delay: -0.3s
@keyframes stretchdelay
	0%, 40%, 100%
		transform: translateY(-10px)
	20%
		transform: translateY(-20px)

// START BASE
.icons
	line-height: 1
	display: inline-block
	background: url(../img/icons.png) 0 0 no-repeat
	vertical-align: middle
.i-map
	width: 22px
	height: 20px
	background-position: -94px 0px
.i-phone
	width: 20px
	height: 18px
	background-position: -117px 0
.i-clock
	width: 22px
	height: 22px
	background-position: -139px 0
.i-instagram, .i-twitter, .i-vk, .i-wh-instagram, .i-wh-twitter, .i-wh-vk
	width: 29px
	height: 29px
.i-instagram
	background-position: 0 0
.i-twitter
	background-position: -31px 0
.i-vk
	background-position: -62px 0
.i-wh-instagram
	background-position: 0 -31px
.i-wh-twitter
	background-position: -31px -31px
.i-wh-vk
	background-position: -62px -31px
.i-wh-map
	width: 55px
	height: 52px
	background-position: 0 -100px
.i-wh-phone
	width: 50px
	height: 48px
	background-position: -56px -101px;
a.btn, .btn
	background: $accent
	display: inline-block
	color: #fff
	font-size: 1em
	font-weight: bold
	text-transform: uppercase
	padding: 14px 33px
	line-height: 1.2
	min-height: 48px
	border-radius: 4px
	overflow: hidden
	position: relative
	border: none
	span
		position: relative
		z-index: 1
	&, &::before
		transition: $trans
	&::before
		background: $accent-two
		content: ''
		position: absolute
		height: 100%
		left: -35%
		top: 0
		transform: skew(50deg)
		transition-duration: 0.6s
		transform-origin: top left
		width: 0
	&:hover::before
		height: 100%
		width: 135%
.wrap-big-btn
	margin-top: 87px
	text-align: center
.big-btn
	position: relative
	display: inline-block
	margin: 0 24px
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 74px
		background-color: #01796e
		left: 4px
		top: 6px
		border-radius: 4px
	a
		text-align: center
		width: 258px
		font-size: 1.5em
		height: 74px
		padding-top: 25px
.aligncenter
	text-align: center
.main-footer a.dev
	font-size: 0.750em
	color: #777
	margin-top: 7px
	span
		border-bottom: 1px solid
	&:hover span
		color: #fff
.mm-listview > li:not(.mm-divider)::after
	background: $accent
.mm-menu.mm-theme-white .mm-listview > li .mm-next::after
	border-color: #858585
.mm-listview > li, .mm-navbar
	border-color: $accent
.mm-listview
	font-size: 18px
	line-height: 24px
	color: #282828
.mm-menu.mm-theme-white .mm-navbar a, .mm-menu.mm-theme-white .mm-navbar > *
	color: $accent
	font-weight: bold
	text-transform: uppercase
.mm-menu.mm-theme-white .mm-navbar a.btn
	color: #fff
.mm-menu.mm-theme-white .mm-navbar-size-1
	height: auto
	padding: 10px 0
.mm-menu.mm-theme-white .mm-listview > li.mm-selected > a:not(.mm-next), .mm-menu.mm-theme-white .mm-listview > li.mm-selected > span
	background-color: #dfefd5
.section-breadcrumbs
	background-color: $accent-two
	margin-top: 1px
	.breadcrumbs
		font-size: 16px
		color: #fff
		min-height: 61px
		line-height: 1
		margin: 0
		a
			color: #fff
		&>span
			display: inline-block
			padding: 22px 27.5px
			height: 100%
			margin: 0
			&.separator
				padding: 0
				margin: 0 -15px
			&:first-child
				padding-left: 0
			&.last-item
				text-decoration: underline
				position: relative
				z-index: 10
				padding-left: 20px	
				padding-right: 20px
				max-width: 700px
				&::before
					content: ''
					top: 0
					left: 0
					position: absolute
					display: block
					float: left
					width: 100%
					height: 100%
					background-color: #64ada6
					transform: skew(-10deg)
					z-index: -1
.entry-title
	font-size: 2.500em
	text-transform: uppercase
	margin: 0
	line-height: 1
	color: #282828
	margin-bottom: 54px
.page-description
	position: relative
	top: -24px
	margin-bottom: 42px
.algincenter
	text-align: center
#top
	position: fixed
	right: 15px
	bottom: 15px
	background-color: #373C36
	display: block
	text-transform: uppercase
	color: #fff
	font-size: 12px
	width: 61px
	height: 61px
	text-align: center
	cursor: pointer
	opacity: .777
	transition: $trans
	&:hover
		opacity: 1
	span
		display: block
		text-align: center
		color: #fff
		font-size: 48px
		line-height: 1
		margin-top: -2px
		margin-bottom: -8px
.edit-link
	display: block
	text-align: right
	a
		color: $accent-two
.fw-container
	padding-left: 0 !important
	padding-right: 0 !important
h2.child-title
	font-size: 1.500em
	margin: 0 0 15px
	line-height: 1.4
.entry-content a
	text-decoration: underline
	&:hover
		color: $accent-two
.entry-content a.btn
	text-decoration: none
	&:hover
		color: #fff
.entry-content h2
	text-indent: 30px
.entry-content p
	text-indent: 30px
	text-align: justify
	&:first-child
		margin-top: 0
.hr-3-white
	width: 100%
	height: 3px
	background-color: #fff
td, th
	padding: 0
	border: 1px solid
	padding: 0 10px
.item-taxvisitors 
	margin-bottom: 30px
	p:first-child
		margin-top: 0
.gallery-item img
	padding: 5px
// END BASE

// START POPUP
.white-popup
	position: relative
	background: #f1f7ee url(../img/main-content-bg.jpg) right bottom no-repeat;
	background-size: 70%
	padding: 30px 25px
	width:auto
	max-width: 500px
	margin: 20px auto
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35)
	h1
		margin: 10px 0 30px
		font-size: 1.5em
		line-height: 1.4
		text-align: center
		text-transform: uppercase
	input[type="text"], textarea
		border: 1px solid $accent-two
		padding: 5px 15px
		font-size: 1em
		display: inline-block
		width: 48%
		float: left
		margin: 0 1% 15px
		border-radius: 4px
		&:hover, &:focus 
			background-color: #f5f5f5
	textarea
		max-width: 98%
		width: 98%
		min-width: 98%
		min-height: 40px
		height: 40px
		max-height: 150px
	.btn
		margin-top: 10px
.mfp-wrap ~ *
	filter: blur(5px)
/* overlay at start */
.mfp-fade.mfp-bg
	opacity: 0
	background-color: #fff
	background-color: rgba(255,255,255,.2)
	transition: all 0.20s ease-out
	/* overlay animate in */
	&.mfp-ready
		opacity: 0.8
	/* overlay animate out */
	&.mfp-removing
		opacity: 0
/* content at start */
.mfp-fade.mfp-wrap .mfp-content 
	opacity: 0
	transition: all 0.20s ease-out
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content 
	opacity: 1
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
	opacity: 0
//END POPUP

// START HAMBURGER
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	height: 3px
	background-color: #fff
.hamburger
	padding: 0
	position: absolute
	left: 20px
	margin-top: 38px
	z-index: 9999
.hamburger-box
	width: 68px
	height: 45px
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	width: 68px
.hamburger--spring .hamburger-inner::before
	top: 20px
.hamburger--spring .hamburger-inner::after
	top: 40px

// START HEADER
.main-header
	background: url(../img/header-bg.png) 0 0 repeat
	.top-line
		max-height: 145px
		height: 100%
		margin-bottom: 25px
		.mobile-contact
			float: right
			padding-top: 34px
			a
				margin-right: 36px
				&:last-child
					margin-right: 0
				.i-wh-phone
					margin-top: 2px
		.wrapper-logo
			background-color: #01796e
			float: left
			height: 145px
			border-bottom-right-radius: 100px
			position: relative
			padding-right: 50px
			&::after
				content: ''
				display: block
				width: 100vw
				height: 100%
				background: #01796e url(../img/logo-bg.png) right center repeat-x
				position: absolute
				left: -100vw
				top: 0
			.logo
				margin-top: 37px
				display: block
				background: url(../img/logo.png) left center no-repeat
				padding: 12px 0 0 128px
				color: #fff
				font-size: 1.875em
				line-height: 1.05
				height: 72px
				span
					font-family: $agb-font
					text-transform: uppercase
					font-size: 0.867em
		.header-btn
			float: right
			margin-top: 23px
			max-width: 240px
			.bvi-panel-open .fa
				display: none
			.btn
				width: 100%
				text-align: center
	.contact-info
		a.map
			display: block
			font-size: 1.125em
			font-family: $roboto-light
			line-height: 1
			margin-bottom: 27px
			.i-map
				margin-right: 12px
		.phone
			margin-bottom: 17px
			padding-left: 39px
			position: relative
			.i-phone
				position: absolute
				left: 0
				top: 8px
			a
				display: table
				line-height: 1.1
				height: 29px
				b, span
					display: table-cell
					vertical-align: middle
				b
					font-size: 1.125em
					min-width: 78px
				span
					font-family: $roboto-light
					width: 100%
					max-width: 142px
					font-size: 0.875em
					padding-left: 14px
		.time-work
			padding-left: 39px
			position: relative
			.i-clock
				position: absolute
				top: 1px
				left: 0
			p
				margin: 0
				display: block
				float: left
				width: 60%
				font-size: 1.125em
				font-family: $roboto-light
				line-height: 1.3
				b
					font-family: $default-font
			p:last-child
				width: 40%
				font-size: 0.875em
				text-align: right
				line-height: 1
				padding-top: 5px
		.social
			margin-top: 31px
			.icons
				display: block
				float: left
				margin-right: 28px
				margin-top: 4px
			.icons.i-vk:last-child
				margin-right: 0
			div
				max-width: 90px
				width: 100%
				float: right
				line-height: 0
				a
					font-size: 0.875em
					text-decoration: underline
					line-height: 1.4
	//Header navigation
	.main-mnu
		background-color: $accent
		height: 60px
		ul
			height: 60px
			margin: 0
			padding: 0
			list-style: none
			display: block
			position: relative
			li
				height: 100%
				line-height: 60px
				vertical-align: middle
				display: inline-block
				padding-right: 23px
				&:last-child
					padding-right: 0
				&.menu-item-has-children a::after
					display: none
				&.menu-item-has-children a
					position: relative
				&.menu-item-has-children:hover a::before
					content: ''
					display: block
					position: absolute
					left: 50%
					margin-left: -10px
					bottom: -23px
					border: 10px solid transparent
					border-bottom: 10px solid #f6f8f1
					z-index: 101
				&.menu-item-has-children:hover ul.sub-menu
						display: block
				ul.sub-menu
					display: none
					position: absolute
					background-color: #f6f8f1
					border: 1px solid #c5c5c5
					width: 100%
					height: auto
					top: 100%
					text-align: center
					padding: 0
					z-index: 100
					left: 0
					li
						margin: 0 39px
						line-height: 1
						position: relative
						padding-right: 0
						&::after
							content: ''
							display: block
							height: 27px
							width: 1px
							background-color: $accent-two
							position: absolute
							right: -39px
							top: -6px
						&:last-child::after
							display: none
						a
							color: #282828
							&:hover
								color: $accent
							&::before
								display: none !important
							&::after
								display: block
								background-color: $accent
				a
					color: #fff
					display: inline-block
					line-height: 1
					&::after
						content: ''
						position: relative
						top: 4px
						display: block
						height: 1px
						width: 0
						opacity: 0
						background-color: #fff
						transition: $trans
						margin: 0 auto
					&:hover::after
						opacity: .8
						width: 100%
// END HEADER

// START SLIDER
.slider
	padding-top: 63px
	padding-bottom: 20px
	.owl-home
		max-height: 444px
		.owl-nav
			font-size: 0
			position: absolute
			width: 100%
			top: 50%
			margin-top: -26px
			.owl-prev, .owl-next
				background-color: #fff
				background-color: rgba(255,255,255,.64)
				width: 56px
				height: 56px
				text-align: center
				transition: $trans
				&:hover
					background-color: #fff
					background-color: rgba(255,255,255,1)
				&::after
					content: ''
					display: inline-block
					width: 20px
					height: 36px
					background: url(../img/icons.png) 0 0 no-repeat
					margin-top: 10px
			.owl-prev
				float: left
				&::after
					background-position: 0 -62px
			.owl-next
				float: right
				&::after
					background-position: -24px -62px
		.owl-dots
			position: absolute
			text-align: center
			bottom: 0
			left: 0
			width: 100%
			.owl-dot
				margin: 0 6.5px
				display: inline-block
				width: 18px
				height: 18px
				border-radius: 10px
				border: 2px solid
				border-color: #fff
				border-color: rgba(255,255,255,.99)
				background-color: #fff
				background-color: rgba(255,255,255,.99)
				&.active
					background: none
		.item
			position: relative
			max-height: 444px
			overflow: hidden
// END SLIDER

// START HOME PAGE MAIN CONTENT
.home-page .main-content
	padding: 21px 0 52px
.main-content
	background: #F1F7EE url(../img/main-content-bg.jpg) right bottom no-repeat
	padding-bottom: 87px
	.green-block
		margin-bottom: 49px
		h2
			margin: 0
			display: block
			text-align: center
			background-color: $accent-two
			color: #fff
			text-transform: uppercase
			font-size: 1.250em
			line-height: 1
			padding: 16px 0 18px
		a
			display: block
			background-color: #eaf3e4
			margin-top: 7px
			padding: 10px
			color: #282828
			h3, p, span
				margin: 0
				line-height: 1.2
			h3
				font-size: 1em
			&::after
				content: ''
				display: block
				clear: both
			.date
				font-weight: bold
				font-size: 1.250em
				display: inline-block
			.description
				float: left
				max-width: 230px
			img
				width: 100px
				height: 71px
				display: block
				float: left
				margin-right: 9px
		&.block-poster a
			display: flex
			align-items: center
			.date
				display: block
				float: left
				width: 60px
				margin-right: 30px
			h3
				font-family: $roboto-light
				color: #282828
				font-weight: normal
				max-width: 170px
				b
					font-family: $default-font
					text-transform: uppercase
					display: block
				span
					font-size: 0.875em
		&.block-exhibitions a
			.date
				margin-bottom: 3px
			p
				font-family: $roboto-light
		&.block-news a
			color: #313d4b
			font-size: 0.875em
			position: relative
			&::before
				content: '→'
				color: #fff
				line-height: 15px
				text-align: center
				display: block
				position: absolute
				right: 0
				top: 9px
				width: 19px
				height: 19px
				background-color: $accent-two
				transition: $trans
			&:hover::before
				top: 50%
				margin-top: -8.5px
			.date
				margin-bottom: 12px
// END HOME PAGE MAIN CONTENT

// START MUSEUM BLOCK
.museum-block
	display: block
	max-width: 270px
	margin: 0 auto 23px
	position: relative
	img
		width: 100%
		height: auto
	h3
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		text-align: center
		margin: 0
		padding: 13px 0 15px
		display: block
		background-color: #d1efc0
		background-color: rgba(209,239,192,.90)
		color: #282828
		font-size: 1em
		line-height: 1.2
		font-family: $roboto-light
		font-weight: normal
		transition: background 0.3s ease
	&:hover h3
		background-color: $accent-two
		color: #fff
		font-family: $default-font
		font-weight: bold
// END MUSEUM BLOCK

// START MAP SECTION
section.map
	box-shadow: 0px 0px 40px 0px rgba(127,167,106,.75);
	border-bottom: 2px solid #a1be92
	height: 468px
	position: relative
	.location
		max-width: 300px
		background-color: #fff
		position: absolute
		left: 50%
		margin-left: -300px
		top: 44px
		padding: 33px 28px 40px
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,.2);
		h3
			text-transform: uppercase
			font-size: 1em
			margin: 0 0 25px
			line-height: 1.2
		p
			margin: 0 0 27px
			font-family: $roboto-light
			line-height: 1.5
			&:last-child
				margin-bottom: 0
			b
				font-family: $default-font
// END MAP SECTION

// START FOOTER
.main-footer
	background: #383a37 url(../img/footer-bg.jpg) center 0 no-repeat
	color: #fff
	padding: 24px 0
	position: relative
	a
		color: #fff
	.logo
		background: url(../img/logo-white.png) 6px 0 no-repeat
		height: 51px
		display: inline-block
		padding: 3px 0 0 127px
		font-family: $roboto-light
		line-height: 1.5
		span
			font-family: $default-font
			font-weight: bold
			font-size: 1.125em
			text-transform: uppercase
	//Footer navigation
	.footer-mnu
		padding: 57px 0 33px
		ul
			margin: 0
			padding: 0
			list-style: none
			li
				display: block
				float: left
				width: 100%
				margin-right: 40px
				a
					font-weight: bold
					height: 40px
					display: inline-block
					line-height: 1
					vertical-align: top
				&:nth-child(1)
					max-width: 95px
				&:nth-child(2)
					max-width: 135px
				&:nth-child(3), &:nth-child(4)
					max-width: 160px
				&:nth-child(5)
					max-width: 170px
				&:nth-child(6)
					max-width: 240px
					margin-right: 0
				ul.sub-menu
					li
						float: none
						max-width: 100% !important
						a
							font-family: $roboto-light
							font-size: 0.875em
							font-weight: normal
							height: auto
							display: block
							line-height: 1.4
	.social
		float: left
		div
			float: right
			margin-left: 40px
			a
				border-bottom: 1px solid
		a
			margin-left: 28px
			font-size: .875em
			&:first-child
				margin-left: 0
	.contact-info
		float: right
		text-align: right
		position: absolute
		bottom: 0
		right: 0
		p
			font-family: $roboto-light
			font-size: 1.125em
			margin: 0 0 15px
			line-height: 1.15
		.flex-contact-info
			display: flex
			align-items: center
			p
				font-size: 1em
				margin-bottom: 0
			.phones
				margin-left: 29px
				a
					display: block
					font-weight: bold
					line-height: 1.25
// END FOOTER

// START BLOCK PHOTO NEWS poster
.photo-news-poster
	padding-top: 1px
	margin-bottom: 30px
	ul
		margin: 0
		padding: 0
		list-style: none
		float: right
		li
			float: left
			width: 88px
			height: 88px
			background-color: $accent-two
			text-align: center
			margin-right: 1px
			&:hover
				opacity: .9
			&:nth-child(2)
				background-color: $accent
			&:last-child
				margin-right: 0
			a
				display: block
				.icons
					display: block
					margin: 17px auto 1px
				.i-photo
					width: 40px
					height: 32px
					background-position: -93px -23px
					margin-bottom: 7px
				.i-news
					width: 40px
					height: 37px
					background-position: -116px -58px
				.i-poster
					margin-top: 12px
					width: 39px
					height: 42px
					background-position: -110px -98px
				span
					color: #fff
					font-size: 0.813em
					line-height: 1
// END BLOCK PHOTO NEWS poster

// START BLOCK POSTER
.content-block-post
	margin-bottom: 36px
	p.date
		margin-bottom: 5px
	img
		max-width: 100%
		width: auto
	h2
		background-color: $accent
		color: #fff
		margin: 0 0 18px
		line-height: 1
		font-size: 1.500em
		padding: 14px 17px 19px
	p, .description span
		font-size: 1.125em
		font-weight: bold
		margin: 0
		line-height: 1.6
		margin-bottom: 1px
	.description p
		font-size: 1em
		font-weight: normal
// END BLOCK POSTER

// START EXPOSITION SLIDER
.exposition-slider
	margin-bottom: 48px
	h2
		text-transform: uppercase
		font-size: 1.5em
		margin: 0 0 13px
		line-height: 1.2
		padding-right: 70px
	.owl-exposition-slider
		border-top: 1px solid #afafaf
		padding-top: 37px
		.item a
			display: block
			img
				width: 100%
				height: auto
			h3
				margin: 27px 0 12px
				line-height: 1.125em
			p
				margin: 0
				line-height: 1.5
		.owl-nav
			position: absolute
			top: -36px
			right: 0
			.owl-prev, .owl-next
				width: 34px
				height: 34px
				display: inline-block
				font-size: 0
				background-color: $accent
				text-align: center
				&:hover
					background-color: $accent-two
				&::after
					content: ''
					display: inline-block
					width: 11px
					height: 19px
					background: url(../img/icons.png) 0 0 no-repeat
					margin-top: 9px
			.owl-prev::after
				background-position: -136px -25px
			.owl-next
				margin-left: 2px
				&::after
					background-position: -150px -25px
// END EXPOSITION SLIDER

// START BLOCK FUND
a.block-fund
	display: block
	margin-bottom: 73px
	text-decoration: none
	img
		width: 100%
		height: auto
	p
		display: table
		margin-top: 27px
		background-color: $accent
		text-align: center
		width: 100%
		height: 68px
		transition: $trans
		&:hover
			background-color: $accent-two
	span
		display: table-cell
		vertical-align: middle
		color: #fff
		font-weight: bold
		font-size: 1.5em
		line-height: 1
		padding: 8px 0 11px
// END BLOCK FUND

// START CHILDREN LIST
ul.children-list
	margin: -15px 0 46px
	padding: 0
	list-style: none
	border-bottom: 1px solid #afafaf
	min-height: 41px
	&::after
		content: ''
		display: block
		clear: both
	li
		display: block
		float: left
		height: 31px
		line-height: 31px
		vertical-align: middle
		background-color: $accent
		padding: 0 10px
		border-top-left-radius: 4px
		border-top-right-radius: 4px
		margin-top: 9px
		transition: $trans
		margin-right: 2px
		max-width: 100%
		&:last-child
			margin-right: 0
		&:hover, &.current_page_item, &.ui-tabs-active
			background-color: $accent-two
			height: 40px
			line-height: 40px
			margin-top: 0
		a
			color: #fff
			font-size: 1.125em
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
			display: inline-block
			width: 100%
// END CHILDREN LIST

// START VISITORS
.visitors-block
	background-color: $accent
	color: #fff
	margin-bottom: 54px
	h2
		line-height: 1.4
		font-size: 1.125em
		text-transform: uppercase
		margin: 18px 0 10px
	.description
		font-size: 0.875em
		line-height: 1.4
		padding-bottom: 20px
	a.term-img img
			max-width: 270px
			width: 100%
			height: auto
	.items
		padding: 19px 34px 34px
		min-height: 214px
		a
			display: block
			color: #fff
			margin-bottom: 	15px
			&:hover
				opacity: .7
			&:last-child
					margin-bottom: 0	
			h3, p
				margin: 0
				line-height: 1.3
			h3
				font-size: 1em
				margin-bottom: 2px
			p
				font-size: 0.875em
// END VISITORS

// START PHOTOGALLERY LIST
a.item-photogallery
	text-align: center
	display: block
	text-decoration: none
	&:hover
		color: $accent-two
	span
		font-size: 18px
		text-transform: uppercase
// END PHOTOGALLERY LIST

.comment-list
	margin: 0
	padding: 0
	list-style: none
	li
		border: 1px solid #AFAFAF
		border-radius: 4px
		position: relative
		margin-bottom: 30px
		.children
			padding: 0
			margin: 5px 0 5px 15px
			list-style: none
			li
				border-right: 0
				border-top-left-radius: 4px
				border-bottom-left-radius: 4px
		.comment-author
			background: #00A76B
			color: #fff
			padding-top: 5px
			padding-bottom: 5px
		.comment-content p:first-child
			margin-top: 5px
		.comment-content, .comment-author, .reply, .comment-awaiting-moderation
			padding-left: 15px
			padding-right: 15px
		.comment-metadata
			font-size: .8em
			position: absolute
			right: 5px
			top: 10px
			line-height: 1
			a
				color: #fff
		.comment-awaiting-moderation
			background: yellow
			margin: 0
		#respond 
			padding: 1em
@import "media" // Всегда в конце
